<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928714007083-ma3gsnd0rm4u7ost68qt68t0sp6hncd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928714007083-ma3gsnd0rm4u7ost68qt68t0sp6hncd9</string>
	<key>API_KEY</key>
	<string>AIzaSyB7uxr2EY657QAQhvm29RO-uo1GF0BbP-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>928714007083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cakeHouseBakery</string>
	<key>PROJECT_ID</key>
	<string>cake-house-e56f0</string>
	<key>STORAGE_BUCKET</key>
	<string>cake-house-e56f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928714007083:ios:a1a1aec9f7fa13c0ee006e</string>
</dict>
</plist>